{
  "env": {
    "browser": true,
    "es6": true,
    // "jest": true,
    "node": true
  },
  "globals": {
    "$": false
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "rules": {}
}
